.bg-new {
    background-color: #fceae8;
    margin-top: 50px;
    margin-bottom: 100px;
}

.button-buy-now {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}

.img-resize img {
    width: 120px;
}

.bg-orange {
    background-color: #ffa500;
}

.bg-pink {
    background-color: #da70d6;
}

.bg-blue {
    background-color: #0000ff;
}